@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('assets/bg-desktop.svg');
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    
}
header{
    width: 90%;
    height: auto;
}

.image-1{
    width: 20%;
    margin-top: 1rem;

}

.container{
    width: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;

   

}



.container h1{
    color: white;

}


.container p{
    color: white;

}








